* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'EB Garamond', serif;
    font-size: 13px;
    line-height: 15px;
    background-color: #102C44;
    margin: 0;
    height: 100%;
    color: white;
}

a {
    color: white;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.logo {
    overflow: hidden;
    flex-grow: 1;
    width: 250px;
    /* width: 100%;
    margin: 5vh 0; */
    background-image: url("new-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

h1 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 200;
    margin: 0;
}

.address {
    margin: 0;
    margin-bottom: 5vh;
    max-width: 530px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
}