.c-body-wrap {
   background-color: palette(primary, base);
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   margin: $spacing--small 100px $spacing--small $spacing--small;
}