// /* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 4; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   //display: flex;
   justify-content: center;
   align-items: center;
 }


 .isActive {
    .modal {
      display: flex;
    }
 }
 
 /* Modal Content/Box */
 .modal-content {
   //border: 10px solid white;
   width: 80%; /* Could be more or less, depending on screen size */

   .c-videos__inner {
      overflow: visible;
   }
 }
 
 /* The Close Button */
 .close {
   $dimensions: 30px;
   color: #aaa;
   float: right;
   font-size: 24px;
   font-weight: bold;
   position: absolute;
   top: -24px;
   right: -24px;
   z-index: 100;
   color: palette(bw, white);
   width: $dimensions;
   height: $dimensions;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .close:hover,
 .close:focus {
   color: palette(secondary, base);
   text-decoration: none;
   cursor: pointer;
 }